[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai.git
[submodule "YCM-Generator"]
	path = YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "vim-cpp-enhanced-highlight"]
	path = vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim-zoom"]
	path = vim-zoom
	url = https://github.com/dhruvasagar/vim-zoom.git
[submodule "git-messenger.vim"]
	path = git-messenger.vim
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "vim-healthcheck"]
	path = vim-healthcheck
	url = https://github.com/rhysd/vim-healthcheck.git
[submodule "vim-buftabline"]
	path = vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "vim-buffest"]
	path = vim-buffest
	url = https://github.com/rbong/vim-buffest.git
[submodule "vem-tabline"]
	path = vem-tabline
	url = https://github.com/pacha/vem-tabline.git
[submodule "vim-markbar"]
	path = vim-markbar
	url = https://github.com/Yilin-Yang/vim-markbar.git
[submodule "vista.vim"]
	path = vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
